body {
  background-color: var(--background-colour);
  color: var(--text-colour);
}

.page {
  justify-self: center;
  align-self: center;
  text-align: center;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
}
.main-content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.main-content-section {
  flex: 1;
  border: 1px solid var(--border-colour);
  border-radius: 8px;
  padding: 20px;
  background-color: var(--section-background-colour);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}